/* OSCARS website created by Scott McDonald */
img#trophy {
  height: 80px;
  position: relative;
  top: 8px;
}
body {
  text-align: center;
}
table {
  border-collapse: collapse;
  border: 3px solid black;
  text-align: center;
}
td, th {
  border: 1px solid black;
  padding: 3px;
  white-space: nowrap;
}
th {
  text-align: center;
}
td {
  text-align: left;
}
table#header {
  border: 0px;
  text-align: center;
}
table#header td, table#header th {
  border: 0px;
  text-align: center;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
}
table#header th {
  font-size: 50px;
}
.info {
  width: 430px;
  text-align: left;
}
.header {
  border-right-width: 3px;
  font-weight: bold;
  background-color: white;
}
.correct {
  background-color: limegreen;
}
.incorrect {
  background-color: red;
}
.unannounced {
  background-color: silver;
}
.tied {
  background-color: tan;
}
th {
  border-top-width: 3px;
  border-bottom-width: 3px;
  background-color: white;
}
#name {
  font-size: 40px;
  font-weight: bold;
}
.rank {
  text-align: right;
}
.time {
  text-align: center;
}
td#rank {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: silver;
}
div#rank {
  font-size: 70px;
}
td#selection {
  text-align: center;
}

/* Clickable banner wrapper */
a.header-link {
  display: table;
  text-decoration: none;
  color: inherit;
  margin: 0 auto;
}

/* Oscars header banner */
table#header.oscars-header {
  border: 2px solid black;
  border-collapse: collapse;
  color: PaleGoldenrod;
  background-image: url("http://oscars.site44.com/RedCurtain.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

/* Remove borders inside header */
table.oscars-header td,
table.oscars-header th {
  border: 0;
  padding: 0 5px;
}

/* Main title */
table.oscars-header th {
  font-size: 50px;
  background-color: transparent;
  white-space: nowrap;
}

/* Subtitle text */
table.oscars-header i {
  font-size: 18px;
}